.genres {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.genre {
  background-color: var(--color-blue-500);

  padding: 4px 10px;
  border-radius: 12px;

  font-size: var(--font-size-um);
  font-weight: 500;
}
