.container {
  color: var(--color-white);

  display: flex;
  flex-direction: column;
  gap: 32px;
}

.backdrop {
  background-color: var(--color-black-600);
  border-radius: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  width: 100%;
}

.backdropImg {
  border-radius: 16px;

  width: 100%;
  height: auto;
}

.backdropPlaceholder {
  color: var(--color-gray-400);
  font-size: 1rem;
  padding: 80px 0;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title {
  font-size: var(--font-size-tmd);
  font-weight: 700;
}

.meta {
  font-size: 0.95rem;
  color: var(--color-blue-400);
}

.subtitle {
  margin-top: 12px;
  font-size: 1.2rem;
  font-weight: 700;
}

.overview {
  color: var(--color-gray-100);
  line-height: 1.5;
}

@media (min-width: 1024px) {
  .container {
    flex-direction: row;
    align-items: flex-start;
    gap: 32px;
  }

  .backdrop {
    flex: 1;
    max-width: 50%;
  }

  .info {
    flex: 1;
  }
}
