.container {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 100vh;

  background-color: var(--color-black-800);
  color: var(--color-white);
}

main {
  flex: 1;
  padding: 152px 24px 24px 24px;
}

@media (min-width: 768px) {
  main {
    padding: 104px 24px 24px 24px;
  }
}

@media (min-width: 1024px) {
  main {
    padding: 112px 32px 32px 32px;
  }
}
